h1,h3{
    text-align: center;
    
}

p{
    text-align: center;
}


.navigation{
    margin: 20px 10px;
    text-align: center;
    
}
.navigation li{
    float: left;
    list-style-type: none;
    text-align: center;
    margin-left: 200px;
}
.list{
    list-style-type: none;
    text-align: center;
}